@tailwind base;
@tailwind components;
@tailwind utilities;

button.mat-button{
    border-radius: 32px;
    font-size: 16px;
    font-family: var(--text-font);
    
}

header{
    font-family: var(--header-font);
}


a{
    &.active{
        color: rgb(114, 36, 8);
    }
}