<header class="border-b shadow-md p-2 w-full header-font fixed max-h-24 top-0 z-50 bg-white">
    <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
        <a href="/"><img src="assets/images/velvet-aura-high-resolution-logo.png" alt="logo" class="max-h-20 w-32"></a>
        
        <nav class="flex gap-7 my-2 uppercase text-2xl">
            <a routerLink="/" class="duration-200 ease-in-out hover:scale-110 "
            >Velvet Aura</a>
            <!-- <a routerLink="/shop" class="duration-200 ease-in-out hover:scale-110 "
            routerLinkActive="active">Shop</a> -->
            <!-- <a routerLink="/test-error" class="duration-200 ease-in-out hover:scale-110 "
            routerLinkActive="active">Contact</a> -->
        </nav>
        <div class="flex gap-4 items-center w-32">
            <a matBadge="5" matBadgeSize="medium" matBadgeHidden="true" href="#" class="duration-150 ease-in-out hover:scale-105 text-gray-500">
                <mat-icon>shopping_cart</mat-icon>
            </a>
            <div class="flex gap-3 align-middle">
                <button class="mat-button" mat-button>Sign in</button>
                <!-- <button class="mat-button" mat-button>Register</button> -->
            </div>
            <!-- <button class="relative rounded-4xl" mat-raised-button>Login</button>
            <button mat-raised-button>Register</button> -->
        </div>
    </div>
</header>
